group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    lowest_matching: true

    nuget FSharp.Core >= 4.7.2
    nuget Fable.Ast >= 4.6.0
    nuget Fable.Browser.Dom >= 2.18.1
    nuget Fable.Browser.Event >= 1.7.0
    nuget Fable.Browser.Worker >= 1.4.0
    nuget Fable.Core >= 4.3.0
    nuget Fable.Elmish.React >= 4.0.0
    nuget Fable.Mocha >= 2.17.0
    nuget Fable.Promise >= 3.1
    nuget Fable.React.Types >= 18.1.0
    nuget Fable.ReactDom.Types >= 18.1.0
    nuget Fable.SimpleHttp >= 3.6.0
    nuget Zanaptak.TypedCssClasses >= 1.0.0

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6
